*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
}

.contenedor-nav{
    display: flex;
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0D7503, #0C4C05);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsl(115, 95%, 24%), hsl(114, 88%, 16%)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
    background-size: cover;    
}

.contenedor-img{
    width: 130px;
    height: 70px;
    margin: 10px;
}

.contenedor-img img{
    width: 100%;
}

.contenedor-link{
    margin-top: 30px;
    margin-left: 1200px;
}

.contenedor-link > a{
    text-align: right;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    margin-right: 20px;
}

.contenedor-link > a:hover{
    text-decoration: underline;
}


.container-portfolio{
    display: flex;
    justify-content: center;
    height: auto;
    width: 50%;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 40px 0;
    float: left;
    overflow: hidden;
    
}

.container-portfolio2{
    display: flex;
    justify-content: space-evenly;
    height: auto;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 20px;
    background: #72CE27;

}

.box{
    justify-content: center;
    align-items: center;
    margin: 15px;
    width: 9em;
    height: auto;
}

.wrapper-imagen{
    width: 8em;
    height: 5em;
    position: absolute;
}

.wrapper-text{
    margin-top: 150px;
    text-align: center; 
    font-weight: bold;
    font-size: 20px;
    color: #0C4C05;
}

.descripcion{
    width: 50%;
    flex-wrap: wrap;
    float: right;
    padding: 0px;
    overflow: hidden;
    margin-top: 50px;
    border-left: 4px solid #FFC800;
}

.contenedor-divs{
    display: flex;
    padding: 20px 0 20px 0;
    width: 100%;
    height: 200px;
    padding-left: 40px;
}

.contenedor1{
    background: #0C4C05;
    color: #fff;
    height: 75px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    
}

.contenedor1 > a{
    text-decoration: none;
    color: #fff;
}

.contenedor1 > a:hover{
    text-decoration: underline;
    background: #FFC800;
    
}

.box-text h2{
    margin-top: 50px;
    text-align: center; 
    font-weight: bold;
    font-size: 50px;
    color: #0C4C05;
}

.contenedor-footer{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: auto;
    float: inline-end;
}

.content-foo{
    display: flex;
    
}

.content-foo h4{
    color: #0C4C05;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}

.content-foo p{
    color: #0C4C05;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
}

.titulo-descripcion{
    color: #0C4C05;
    font-weight: bold;
    font-size: 40px;
}

.conte-text2{
    margin-top: 50px;
    text-align: center; 
    font-weight: bold;
    font-size: 40px;
    color: #0C4C05;
}

.wrapper-text2{
    margin-top: 150px;
    text-align: center; 
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}

.descripcion p{
    padding-left: 40px;
    font-size: 25px;
}

.descripcion h2{
    padding-left: 40px;
}

.clientes-contenedor{
    background:#72ce27;
    height: 250px;
    text-align: center;
}

.cards .card{
    background: #0C4C05;
    display: flex;
    width: 100%;
    height: 250px;
    align-items: center;
    justify-content: space-evenly;
}

.cards .card img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-left: 30px;
}

.cards .card > .contenido-texto-card{
    width: 90%;
    color: #fff;
    font-weight: 500;

}

.titulo-descripcion2{
    text-align: center;
    color: #0C4C05;
    font-weight: bold;
    font-size: 40px;
    margin-top: 50px;
}

.contenedor-nav2{
    display: flex;
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0D7503, #0C4C05);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsl(115, 95%, 24%), hsl(114, 88%, 16%)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
}

.contenedor-img2{
    width: 130px;
    height: 70px;
    margin: 10px;
}

.contenedor-img2 img{
    width: 100%;
}

.contenedor-link2{
    margin-top: 30px;
}

.contenedor-link2 > p{
    text-align: right;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    font-weight: 600;
    margin-right: 20px;
    font-size: 20px;
}
